// Font.
$font: "Space Mono", monospace;
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// Colors.
$neutral-50: #eeeeee;
$neutral-100: #bbbbbb;
$neutral-150: #1c1c1c;

// Padding.
$pad-64: 64px;
